.assistant-message {
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  cursor: text !important;
}

p {
  margin-top: 12px !important;
  margin-bottom: 8px !important;
}

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border-color: inherit !important;
  display: block !important;
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow: auto !important;
  word-break: normal !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: black !important;
  border-style: solid !important;
  border-width: 1px !important;
  padding: 0.5rem !important;
}