p {
  margin-top: 12px;
  margin-bottom: 8px;
}

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border-color: inherit !important;
  display: block !important;
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow: auto !important;
  word-break: normal !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: black !important;
  border-style: solid !important;
  border-width: 1px !important;
  padding: 0.5rem;
}